<style>
    body {
        background-color: rgb(8 12 8);
        color:blanchedalmond;
        font-family: sans-serif;
        font-size: 20px;
    }
    #tituloPrincipal{
        font-family: fantasy, sans-serif;
    }
    .paragrafoPrincipal{
        font-family: helvetica, sans-serif;
        font-size: 20px;
    }
    #descricaoPrincipal{
        font-family: fantasy;
        font-size: 24px;
    }
    .lista1{
        font-size: 28px;
    }
    .lista2{
        font-size: 24px;
    }
    .lista3{
        font-size: 20px;
    }


</style>